# For the iCE40HX-1K iCEstick
# gwholtha1 output signals on iCEstick Pmod connector
set_io rgb[0] 87    # Pmod 7, Red
set_io rgb[1] 88    # Pmod 8, Green
set_io rgb[2] 90    # Pmod 9, Blue
set_io hsync 91     # Pmod 10
set_io vsync 81     # Pmod 4
set_io frame_led 95 # Green LED, frame indicator (blinks once per frame)
set_io clk 21
